.prim-escuro { color: #0E0D0E }	/* Main Primary color */
.prim-claro { color: #F8F8F8 }
.prim-medio { color: #736473 }

.complement-escuro { color: #343530 }	/* Main Complement color */
.complement-claro { color: #F8FDE5 }
.complement-medio { color: #7A7E6A }

body {
	background: #0E0D0E;
	color: #F8F8F8;
	font-size: 100%;
}
#front {
	border-radius: .8em;
	padding: .8em;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('/css/fonts/quicksand-regular-webfont.eot');
    src: url('/css/fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/quicksand-regular-webfont.woff') format('woff'),
         url('/css/fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('/css/fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
h1, h3, h4, p, li {
	color: #F8F8F8;
	font-family: quicksandregular;
}
h2 {
	color: #F8FDE5;
	font-family: quicksandregular;
	font-size: 1.3em;
	background-color: #343530;
	text-align: center;
}
h2 a, h3 a { text-decoration: none;
	     color: #F8FDE5;
	   }
h1 {
	font-family: quicksandregular, Georgia, sans-serif;
	letter-spacing: 0.9em;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0.2em;
}
a.titulo {
	color: #F8F8F8;
	text-decoration: none;
}
sup a, p a {
    text-decoration: underline;
    color: #7A7E6A;
}
sup a, p a:visited {
    color: #736473;
}
h3, p {
    font-size: 1em;
    line-height: 1.3em;
}
h3 {
	margin-top: 0.5em;
	font-weight: bold;
}
h4 {
    color: #736473;
    text-align: right;
    margin-top: -0.9em;
    margin-bottom: -0.9em;
}   
div.outline-2 h2, h2.footnotes {
    background-color: #0E0D0E;
    color: #7A7E6A;
    text-align: left;
}
sup a.footref {
    margin-left: 0.5em;
}
p.footpara {
    font-size: 0.8em;
}
    
#cssmenu ul {
  margin-bottom: 0.5em;
  padding: 0;
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  font-weight: bold;
  }
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
}
#cssmenu li a {
  display: block;
  float: left;
  color: #F8F8F8;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1em;
  border-bottom: 3px solid transparent;
}
#cssmenu li a:hover {
  color: #7A7E6A;
}
#cssmenu li.active a {
  display: inline;
  border-bottom: 3px solid #7A7E6A;
  float: left;
  margin-right: 1em;
}
img {
	max-width: 100%;
	height: auto;
	background: #F8FDE5;
}
p.notation img {
    padding: 10px;
}
@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}
li#concertos {
	text-indent: -2em;
	margin-bottom: .7em;
	margin-left: 2em;
}
.floatleft {
	float: left;
	margin-right: 1em;
	margin-top: 1em;
}
p.texto {
	text-align: justify;
	text-indent: 4em;
}
section.texto {
	margin-bottom: 2em;
}
.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
