---
layout: default
title: Nuno Trocado
description: The website of guitarist and composer Nuno Trocado.
---

<img src="/images/front.jpg" />
<!--
<h3>Próximos concertos:</h3>
<ul id="concertos">
{% for concerto in site.data.concertos %}
	{% if concerto.datahora >= site.time %}
	 		<li id="concertos">
   			{{concerto.datahora | date: "%Y-%m-%d"}} . {{concerto.datahora | date: "%H:%M"}} . <strong>{{concerto.projecto}}</strong> . <small>{{concerto.membros}}</small> . {{concerto.local}} . {{concerto.cidade}}		
			</li>
	{% endif %}
{% endfor %}
</ul>
//-->

