<div class='cssmenu' id='footer'>
  <ul>
    <li> <a href="https://www.facebook.com/idomeneus.crete"><i class="fab fa-facebook-f" title="Facebook"></i></a></li>
    <li> <a href="https://www.youtube.com/channel/UCNyIxNwufuc79t731Ua05_g"><i class="fab fa-youtube" title="Youtube"></i></a></li>
    <li> <a href="https://github.com/ntrocado"><i class="fab fa-github" title="Github"></i></a></li>
    <li> <a href="https://www.instagram.com/ntrocado/"><i class="fab fa-instagram" title="Instagram"></i></a></li>
  </ul>
</div>
