<div class='cssmenu'>
  <ul>
    <li {% if page.url == "/bio.html" %}class="active"{% endif %}><a href="/bio.html">bio</a></li>
    <li {% if page.url == "/projectos.html" %}class="active"{% endif %}><a href="/projectos.html">projects</a></li>
    <li {% if page.url == "/concertos.html" %}class="active"{% endif %}><a href="/concertos.html">agenda</a></li>
    <li {% if page.url == "/lab.html" %}class="active"{% endif %}><a href="/lab.html">lab</a></li>
    <li><a href="mailto:ntrocado@gmail.com">contact</a></li>
  </ul>
</div>
